.time-out-list-container {
  max-width: 50em;
  display: none;
  width: 100%;
  overflow: hidden;
  grid-template-areas:
    "heading today"
    "search search"
    "list list";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;

  .heading {
    grid-area: heading;
    font-size: 2em;
  }

  .today {
    grid-area: today;
    justify-self: end;
    font-size: 2em;
  }

  .input-container {
    grid-area: search;
  }

  .attendance-item {
    padding: 1em;
    box-shadow: 4px 4px 4px #80808047;
    box-sizing: border-box;
    gap: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "name time-in"
      "course btn-time-out";
    place-content: center;
    position: relative;
    background-color: white;
  }

  .attendance-list {
    padding-top: 1em;
    grid-area: list;
    height: 25em;
    overflow-y: scroll;
  }

  .attendance-item:not(:last-child)::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #d9d9d9;
    margin: auto;
    width: 90%;
  }

  .name {
    grid-area: name;
  }

  .course {
    grid-area: course;
    align-self: end;
  }

  .time-in {
    grid-area: time-in;
    justify-self: end;
  }

  .btn-time-out {
    width: fit-content;
    height: fit-content;
    padding: 4px 8px;
    color: var(--text-secondary);
    justify-self: end;
    border-radius: 4px;
    background-color: var(--danger);
    grid-area: btn-time-out;
  }
  .btn-confirm {
    background-color: var(--danger);
    width: fit-content;
    margin-left: auto;
    color: white;
    padding: 4px 12px;
    border-radius: 4px;
  }
}

.alter-time {
  display: none;
}
