:root {
  --text: #10451d;
  --primary: #208b3a;
  --secondary: #92e6a7;
  --secondary-200: #c1f1d3;
  --accent: #2dc653;
  --background: #f2fff5;
  --text-secondary: #f2fff5;
  --danger: #dc4c64;
}
